In [9]:
def hajMashti(att: str) -> str:
  """
  Get a user attribiute and return Haji, Karbalayee, Mashti or Agha.

  Args:
    att (str): User attribiute.

  Returns:
    str: Haji, Karbalayee, Mashti or Agha.
  """
  if len(att) == 3:
    if att[0] and att[1] and att[2] in ["y", "Y", "n", "N"]:
      if att[0].lower() == "y":
        return "Haji"
      elif att[1].lower() == "y":
        return "Karbalayee"
      elif att[2].lower() == "y":
        return "Mashti"
      elif att[0] and att[1] and att[2] == "n":
        return "Agha"
    else:
      return "Invalid input length"
  else:
    return "Invalid input value"

In [10]:
print(hajMashti("yy"))

Invalid input value

In [20]:
def su(*number: tuple) -> int:
  """
  Get a number and return the sum of its digits.

  Args:
    number (int): Number to sum.

  Returns:
    int: Sum of digits.
  """
  sum = 0
  for i in number:
    sum += int(i)
  return sum

In [21]:
nums = input().split()
print(su(*nums))

1 2 3 4 5
15

In [22]:
def sums(a: float, b:float) -> float:
  """
  Get two numbers and return their sum.

  Args:
    a (float): First number.
    b (float): Second number.

  Returns:
    float: Sum of numbers.
  """
  return a + b


def sub(a: float, b:float) -> float:
  """
  Get two numbers and return their difference.

  Args:
    a (float): First number.
    b (float): Second number.

  Returns:
    float: Difference of numbers.
  """
  return a - b


def mult(a: float, b:float) -> float:
  """
  Get two numbers and return their product.

  Args:
    a (float): First number.
    b (float): Second number.

  Returns:
    float: Product of numbers.
  """
  return a * b


def div(a: float, b:float) -> float:
  """
  Get two numbers and return their quotient.

  Args:
    a (float): First number.
    b (float): Second number.

  Returns:
    float: Quotient of numbers.
  """
  if b == 0:
    return "Can not division by zero"
  else:
    return a / b

In [ ]:
num1 = float(input("enter first number: "))
op = input("enter operator: ")
num2 = float(input("enter second number: "))

if op == "+":
  print(sums(num1, num2))
elif op == "-":
  print(sub(num1, num2))
elif op == "*":
  print(mult(num1, num2))
elif op == "/":
  print(div(num1, num2))
else:
  print("Invalid operator")

In [23]:
print(eval(input("enter a sequense: ")))

enter a sequense: 12 + 15 - 3 * 2 ** 3 / 4
21.0

In [24]:
def sums(a: float, b:float) -> float:
  return a + b

In [25]:
x = lambda a, b : a + b
print(x(5, 6))

11

In [27]:
x = lambda a, b : a + b; print(x(5, 6))

<function <lambda> at 0x7f3e614ccf70>
11

In [28]:
print(y := lambda : "Hello World")

<function <lambda> at 0x7f3e614cd2d0>

In [29]:
s = []
for i in range(1, 11):
  s.append(i)
s

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [30]:
s = [i for i in range(1, 11)]
s

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [37]:
y = [i**2 for i in range(10, 31) if i % 2 == 0]
y

[100, 144, 196, 256, 324, 400, 484, 576, 676, 784, 900]

In [42]:
s1 = [1, 2, 3]
s2 = [4, 2, 3]
z = [(i, j) for i in s1 for j in s2 if i != j]
z

[(1, 4), (1, 2), (1, 3), (2, 4), (2, 3), (3, 4), (3, 2)]

In [43]:
matrix = [
    [1, 2, 3, 4],
    [5, 6, 7, 8],
    [9, 10, 11, 12]
]

print("Normal:")
t = []
for i in range(4):
    t_row = []
    for row in matrix:
        t_row.append(row[i])
    t.append(t_row)
for j in t:
    print(j)

print("Transpose:")

Normal:
[1, 5, 9]
[2, 6, 10]
[3, 7, 11]
[4, 8, 12]
Transpose:

In [46]:
matrix = [
    [1, 2, 3, 4],
    [5, 6, 7, 8],
    [9, 10, 11, 12]]
print("Comprehension:")
t2 = [[row[i] for row in matrix] for i in range(4)]
t2

Comprehension:

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]